<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--system.serviceModel>
    <client>     
      <endpoint address="net.tcp://localhost:8082/GraphTraversalService"
        binding="netTcpBinding"
        contract="NDDDSample.Interfaces.PathfinderRemoteService.Common.IGraphTraversalService"
        name="pathfinderRemoteClient" bindingConfiguration="bindingGraphTraversalServiceConfig">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>        
        <binding name="bindingGraphTraversalServiceConfig" openTimeout="00:10"
                 sendTimeout="00:10"
                 receiveTimeout="02:00" >
      
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel-->
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>