<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <components>        
    <component id="handlingReportServiceClient"
       service ="NDDDSample.RegisterApp.HandlingReportService.IHandlingReportService,
             NDDDSample.RegisterApp"
       type="NDDDSample.RegisterApp.HandlingReportService.HandlingReportServiceClient,
         NDDDSample.RegisterApp">      
    </component>
    <component id="handlingReportViewModel"       
       type="NDDDSample.RegisterApp.ViewModels.HandlingReportViewModel,
         NDDDSample.RegisterApp">
    </component>
  </components>
</configuration>