<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <components>            
    <component id="messageBoxCreator"
       service ="NDDDSample.RegisterApp.Views.IMessageBoxCreator,
             NDDDSample.RegisterApp"
       type="NDDDSample.RegisterApp.Views.MessageBoxCreator,
         NDDDSample.RegisterApp">
    </component>
    <component id="handlingReportViewModel"       
       type="NDDDSample.RegisterApp.ViewModels.HandlingReportViewModel,
         NDDDSample.RegisterApp">
    </component>
  </components>
</configuration>