<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <section name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />

  </configSections>


  <castle>
    <facilities>
      <facility id="wcf"
                type="Castle.Facilities.WcfIntegration.WcfFacility,
                    Castle.Facilities.WcfIntegration" />
    </facilities>
    <components>
      <!-- Service behavior -->
      <component id="UnitOfWorkBehavior"
           type="NDDDSample.Interfaces.BookingRemoteService.Host.UnitOfWorkBehavior,
                   NDDDSample.Interfaces.BookingRemoteService.Host"/>
    </components>

  </castle>

</configuration>