<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--
  <configSections>

    <section name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />

  </configSections>


  <castle>
    <facilities>
      <facility id="wcf"
                type="Castle.Facilities.WcfIntegration.WcfFacility,
                    Castle.Facilities.WcfIntegration" />
    </facilities>
    <components>

      <component id="UnitOfWorkBehavior"
           type="NDDDSample.Interfaces.BookingRemoteService.Host.UnitOfWorkBehavior,
                   NDDDSample.Interfaces.BookingRemoteService.Host"/>
    </components>

  </castle>
-->

  <system.serviceModel>
    <client>     
      <endpoint address="net.tcp://localhost:8082/GraphTraversalService"
        binding="netTcpBinding"
        contract="NDDDSample.Interfaces.PathfinderRemoteService.Common.IGraphTraversalService"
        name="pathfinderRemoteClient" bindingConfiguration="bindingGraphTraversalServiceConfig">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>        
        <binding name="bindingGraphTraversalServiceConfig" openTimeout="00:10"
                 sendTimeout="00:10"
                 receiveTimeout="02:00" >
          <!--For debug purpose-->
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>