<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <components>    
    
    <!-- Rhino commons -->
    <component id="nhibernate.repository"
       service ="Rhino.Commons.IRepository`1,
             Rhino.Commons.NHibernate"
       type="Rhino.Commons.NHRepository`1,
         Rhino.Commons.NHibernate"/>
    <component id="nhibernate.unit-of-work.factory"
       service ="Rhino.Commons.IUnitOfWorkFactory,
             Rhino.Commons.NHibernate"
       type="Rhino.Commons.NHibernateUnitOfWorkFactory,
         Rhino.Commons.NHibernate">
      <parameters>
        <configurationFileName>hibernate.cfg.xml</configurationFileName>
      </parameters>
    </component>
    
  </components>
</configuration>